# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: fastapi-deployment
#   namespace: fastapi-app
# spec:
#   replicas: 2
#   selector:
#     matchLabels:
#       app: fastapi
#   template:
#     metadata:
#       labels:
#         app: fastapi
#     spec:
#       containers:
#         - name: fastapi
#           image: 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fast-api-todo-ecr-repo:latest # e.g. 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fastapi-task-manager:latest
#           ports:
#             - containerPort: 8000
#           env:
#            - name: APP_NAME
#              value: "FastAPI Task Manager"
#            - name: DATABASE_URL
#              value: "postgresql://taskuser:TaskUser123@fastapi-rds.cpsgksy484d0.ap-south-1.rds.amazonaws.com:5432/tasksdb"


# fully working yaml but not for grafana prometheus
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: fastapi-deployment
#   namespace: fastapi-app
# spec:
#   replicas: 2
#   selector:
#     matchLabels:
#       app: fastapi
#   template:
#     metadata:
#       labels:
#         app: fastapi
#     spec:
#       containers:
#         - name: fastapi
#           image: 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fast-api-todo-ecr-repo:8b1f89bda156da167fd2701f912f4907eac415a9
#           # image: 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fast-api-todo-ecr-repo:latest
#           ports:
#             - containerPort: 8000
#           env:
#             - name: APP_NAME
#               value: "FastAPI Task Manager"
#             - name: DATABASE_URL
#               value: "postgresql://taskuser:TaskUser123@fastapi-rds.cpsgksy484d0.ap-south-1.rds.amazonaws.com:5432/tasksdb"
#           readinessProbe:
#             httpGet:
#               path: /
#               port: 8000
#             initialDelaySeconds: 5
#             periodSeconds: 10
#           livenessProbe:
#             httpGet:
#               path: /
#               port: 8000
#             initialDelaySeconds: 15
#             periodSeconds: 20







#prometheus scrapping working yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  namespace: fastapi-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: fastapi
          image: 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fast-api-todo-ecr-repo:8b1f89bda156da167fd2701f912f4907eac415a9
          # image: 443370675028.dkr.ecr.ap-south-1.amazonaws.com/fast-api-todo-ecr-repo:latest
          ports:
            - containerPort: 8000

          env:
            - name: APP_NAME
              value: "FastAPI Task Manager"
            - name: DATABASE_URL
              value: "postgresql://taskuser:TaskUser123@fastapi-rds.cpsgksy484d0.ap-south-1.rds.amazonaws.com:5432/tasksdb"

          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
